<link type="text/css" rel="stylesheet" href="http://jtab.tardate.com/css/jtab-helper.css"/>

<mat-card style = "width: 800px; height: 400px;">

<h1>{{ messageService.tabName}} </h1>

<h1>{{ messageService.tabID}} </h1>
<!-- <mat-list-item  *ngFor="let str of strs" style="padding-top: 15px; padding-right: 30px; padding-bottom: 30px; padding-left: 4px;">
  <app-tab-line [tab_string]= str matLine> </app-tab-line>
</mat-list-item> -->

<mat-list-item  *ngFor="let line of messageService.strs" style="padding-top: 15px; padding-right: 30px; padding-bottom: 30px; padding-left: 4px;">
  <app-tab-line [tab_string]= line matLine> </app-tab-line>
</mat-list-item>

<button type="submit" (click)=deleteTab(messageService.tabID)>Delete Tab</button>

</mat-card>




