<link type="text/css" rel="stylesheet" href="http://jtab.tardate.com/css/jtab-helper.css"/>

<mat-card style = "width: 800px; height: 400px;">

<h1>{{ tabName}} </h1>

THere are {{strs.length}} strings
<div id="tablinea"></div>
<div id="tablineb"></div>
<div id="tablinec"></div>
<div id="tablined"></div>
<div id="tablinee"></div>
<div id="tablinef"></div>
<div id="tablineg"></div>
<div id="tablineh"></div>
<div id="tablinei"></div>







<!-- <mat-list-item  *ngFor="let str of strs" style="padding-top: 15px; padding-right: 30px; padding-bottom: 30px; padding-left: 4px;">
  <app-tab-line [tab_string]= str matLine> </app-tab-line>
</mat-list-item> -->
<!-- 
<mat-list-item  *ngFor="let line of messageService.strs" style="padding-top: 15px; padding-right: 30px; padding-bottom: 30px; padding-left: 4px;">
  <app-tab-line [tab_string]= line matLine> </app-tab-line>
</mat-list-item>

 -->

</mat-card>




