<script src="http://jtab.tardate.com/javascripts/jquery.js" type="text/javascript"></script>
<script src="http://jtab.tardate.com/javascripts/raphael.js" type="text/javascript"></script>
<script src="http://jtab.tardate.com/javascripts/jtab.js" type="text/javascript"></script>
<mat-toolbar color="primary">  
  <h1>  
    AngularMIR
  </h1> 
  &nbsp;
  &nbsp;
  &nbsp;

  <mat-icon>home</mat-icon>
  <button mat-button routerLink="/dashboard/1/">Dashboard</button>  
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>
  <button mat-button routerLink="/howl">Howl</button>
</mat-toolbar>


<router-outlet></router-outlet>


