

<div style="padding: 50px; width:400px;">
    <mat-card >
      <mat-card-title>Tabs</mat-card-title>
      <mat-card-content>
        <mat-list>   
          <mat-list-item *ngFor="let tab of tabNames; index as i" >
            <button (click)=tabDetail(i) target="_blank" style="width:300px;">{{tab }} {{ i }} </button>
          </mat-list-item>
   
        </mat-list>  
      </mat-card-content>
      <button type="submit" (click)=createTab()>Create new tab</button>
      <button type="submit" (click)=editTab()>Edit Tab</button>
    </mat-card >
  </div>