<head>
  ... (other stuff) ...
  <!-- recommended to avoid security warnings with SVG in IE8 -->
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <!-- optional: helpers to preset jtab region heights to avoid rendering jitter -->
  <link type="text/css" rel="stylesheet" href="http://jtab.tardate.com/css/jtab-helper.css"/>

  <!-- mandatory script includes for jtab -->
  <script type="text/javascript" src="jtab.js"></script>

</head>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="3px">
  <mat-grid-tile>
    <app-document-list></app-document-list>
    <app-upload></app-upload>

  </mat-grid-tile   >
  <mat-grid-tile rowspan="2">
    <div *ngIf="guitarTabs.length > 0  && messageService.guitarTab">
      <app-tab [guitarTab]=getTab()>
      </app-tab>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div *ngIf="guitarTabs.length > 0">
      <app-tab-list [guitarTabs] = guitarTabs></app-tab-list>  
    </div>
      
  </mat-grid-tile>  
</mat-grid-list>

<app-document-search></app-document-search>
