<head>
  ... (other stuff) ...
  <!-- recommended to avoid security warnings with SVG in IE8 -->
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <!-- optional: helpers to preset jtab region heights to avoid rendering jitter -->
  <link type="text/css" rel="stylesheet" href="http://jtab.tardate.com/css/jtab-helper.css"/>

  <!-- mandatory script includes for jtab -->
  <script type="text/javascript" src="jtab.js"></script>

</head>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="3px">
  <mat-grid-tile >
    <mat-list>
      <h3 mat-subheader>Documents</h3>
      <mat-list-item *ngFor="let document of documents">
        <a routerLink="/detail/{{document.id}}">
        <h4 mat-line>{{document.file}}</h4>
        </a>
      </mat-list-item>
  

    </mat-list>


    

  </mat-grid-tile >
  <mat-grid-tile rowspan="2" style="background-color: coral;">
    <app-tab></app-tab>
    <div *ngIf="response && imageURL">
      <img [src]='imageURL' />
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="background-color: coral;">

<div>


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="name" placeholder="Document Name" formControlName="name">
    <input type="file" name="profile" (change)="onChange($event)" />
    <button type="submit">Upload Document File</button>

  </form>
</div>
  </mat-grid-tile>

</mat-grid-list>

<app-document-search></app-document-search>
