<div style="padding: 50px; width:400px;">
    <mat-card>
      <mat-card-title>Documents</mat-card-title>
      <mat-card-content>
        <mat-list>   
          <mat-list-item *ngFor="let document of checkbox_list">
            <mat-checkbox
            [(ngModel)]="document.checked"
            [disabled]="document.disabled"
            [labelPosition]="document.labelPosition"
             > 
      
            <button mat-button ng-href="/login/" target="_blank">{{document.name}}</button>
          
          </mat-checkbox>
          </mat-list-item>
   
        </mat-list>
        
        <button type="submit" (click)=onDelete()>Delete</button>
  
      </mat-card-content>
    </mat-card>

  </div>